<div class="landing-container w-full flex items-center justify-center border-bottom border-solid border-gray-800 shadow-lg">
    <div class="landing-background h-screen w-full relative overflow-hidden">
        <div class="landing-background-image absolute top-0 attach-fixed"></div>
        <div class="landing-background-gradient absolute top-0"></div>
    </div>
    
    <div class="absolute container md:max-w-card mx-auto">
        <div class="flex flex-col-reverse md:flex-row items-center bg-white rounded-lg p-8 md:p-16 mx-6 shadow-mat_lg" [ngStyle]="{'margin-top.px': margin}">
            <div class="w-full md:w-1/2 md:pr-8">
                <h2 class="text-2xl text-base">Meet the team</h2>
                <p class="text-gray-700 body-font leading-relaxed mb-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus in quas placeat quos voluptate numquam fuga at perspiciatis excepturi nemo error similique quibusdam quam optio neque aut nihil, iste minus inventore cupiditate consectetur? Placeat natus sint aperiam ipsa consequuntur.</p>
            </div>
            <div class="w-full mb-8 md:mb-0 md:w-1/2 md:pl-8">
                <img src="/assets/images/team-spirit.svg" alt="Teamgeist" class="mx-auto">
            </div>
        </div>
    </div>
</div>

<section class="content none"></section>

<section class="content py-12 border-0">
    <div class="container mx-auto flex flex-col md:flex-row items-center">
        <div class="w-full md:w-1/2 p-6 md:pr-16">
            <h2 class="text-2xl text-base">Qualitätmanagement</h2>
            <p class="text-gray-700 body-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique temporibus natus sequi, eum ea quaerat laudantium obcaecati dolor dolorem delectus eveniet magni, at blanditiis hic iusto saepe deleniti veritatis ad!</p>
        </div>
        <div class="w-full md:w-1/2 px-6 py-2 md:pl-16">
            <img src="/assets/images/qm.svg" alt="Qualitätmanagement" class="mx-auto max-w-full lg:max-w-contentImg">
        </div>
    </div>
</section>

<section class="content py-12">
    <div class="container mx-auto flex flex-col md:flex-row items-center md:flex-row-reverse">
        <div class="w-full md:w-1/2 p-6 md:pl-16">
            <h2 class="text-2xl text-base">Marketing</h2>
            <p class="text-gray-700 body-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique temporibus natus sequi, eum ea quaerat laudantium obcaecati dolor dolorem delectus eveniet magni, at blanditiis hic iusto saepe deleniti veritatis ad!</p>
        </div>
        <div class="w-full md:w-1/2 px-6 py-2 md:pl-16">
            <img src="/assets/images/ma.svg" alt="Marketing Abteilung" class="mx-auto max-w-full lg:max-w-contentImg">
        </div>
    </div>
</section>

<section class="content py-12">
    <div class="container mx-auto flex flex-col md:flex-row items-center">
        <div class="w-full md:w-1/2 p-6 md:pr-16">
            <h2 class="text-2xl text-base">Verkauf</h2>
            <p class="text-gray-700 body-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique temporibus natus sequi, eum ea quaerat laudantium obcaecati dolor dolorem delectus eveniet magni, at blanditiis hic iusto saepe deleniti veritatis ad!</p>
        </div>
        <div class="w-full md:w-1/2 px-6 py-2 md:pl-16">
            <img src="/assets/images/vk.svg" alt="Verkaufsabteilung" class="mx-auto max-w-full lg:max-w-contentImg">
        </div>
    </div>
</section>

<section class="content py-12">
    <div class="container mx-auto flex flex-col md:flex-row items-center md:flex-row-reverse">
        <div class="w-full md:w-1/2 p-6 md:pl-16">
            <h2 class="text-2xl text-base">Rechnungswesen</h2>
            <p class="text-gray-700 body-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique temporibus natus sequi, eum ea quaerat laudantium obcaecati dolor dolorem delectus eveniet magni, at blanditiis hic iusto saepe deleniti veritatis ad!</p>
        </div>
        <div class="w-full md:w-1/2 px-6 py-2 md:pl-16">
            <img src="/assets/images/rw.svg" alt="Rechnungswesen Abteilung" class="mx-auto max-w-full lg:max-w-contentImg">
        </div>
    </div>
</section>

<section class="content py-12">
    <div class="container mx-auto flex flex-col md:flex-row items-center">
        <div class="w-full md:w-1/2 p-6 md:pl-16">
            <h2 class="text-2xl text-base">Einkauf</h2>
            <p class="text-gray-700 body-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique temporibus natus sequi, eum ea quaerat laudantium obcaecati dolor dolorem delectus eveniet magni, at blanditiis hic iusto saepe deleniti veritatis ad!</p>
        </div>
        <div class="w-full md:w-1/2 px-6 py-2 md:pl-16">
            <img src="/assets/images/ek.svg" alt="Verkaufsabteilung" class="mx-auto max-w-full lg:max-w-contentImg">
        </div>
    </div>
</section>

<section class="content py-12">
    <div class="container mx-auto flex flex-col md:flex-row items-center md:flex-row-reverse">
        <div class="w-full md:w-1/2 p-6 md:pl-16">
            <h2 class="text-2xl text-base">IT</h2>
            <p class="text-gray-700 body-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique temporibus natus sequi, eum ea quaerat laudantium obcaecati dolor dolorem delectus eveniet magni, at blanditiis hic iusto saepe deleniti veritatis ad!</p>
        </div>
        <div class="w-full md:w-1/2 px-6 py-2 md:pl-16">
            <img src="/assets/images/it.svg" alt="IT-Abteilung" class="mx-auto max-w-full lg:max-w-contentImg">
        </div>
    </div>
</section>