.landing-background {
    &-image {
        width: 100%;
        height: 100vh;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &:nth-of-type(1) {background-image: url('/assets/images/team.jpg');}
    }
}