<section class="border-0 w-full relative overflow-hidden" [ngStyle]="{'margin-top.px': margin}">
    <div class="relative flex" style="height: 50vh; width: 300vw; transition: transform 300ms;"
        [ngStyle]="{'transform': 'translateX(' + (carouselIndex == 0 ? '0%':(carouselIndex == 1 ? '-100vw':'-200vw')) + ')'}"
    >
        <div class="w-1/3 h-full flex items-center justify-center bg-cover bg-no-repeat bg-center" *ngFor="let slide of slides" [ngStyle]="{'background-image': 'url(' + slide.imageUrl + ')'}">
            <div class="mx-6 text-center">
                <h2 class="text-3xl">{{slide.title}}</h2>
                <p>{{slide.body}}</p>
            </div>
        </div>
    </div>

    <div class="w-full h-full hidden lg:flex items-center justify-center absolute top-0">
        <div class="container mx-6 md:px-6 flex justify-between" id="carousel-buttons">
            <button mat-stroked-button class="rounded-full" (click)="prevSlide()"><mat-icon>chevron_left</mat-icon></button>
            <button mat-stroked-button class="rounded-full" (click)="nextSlide()"><mat-icon>chevron_right</mat-icon></button>
        </div>
    </div>
</section>

<section class="content py-8" style="min-height: 400px;">
    <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">

        <nav id="store" class="w-full z-30 top-0 px-6 py-1">
            <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3">

                <a class="uppercase tracking-wide no-underline hover:no-underline text-gray-800 text-xl" [routerLink]="['/shop']" routerLinkActive="router-link-active" ><h3>Featured</h3></a>

                <div class="inline-block" id="store-nav-content">
                    <div class="hidden sm:block relative">
                        <mat-form-field appearance="standard" style="width: 250px;">
                            <mat-label>Produktsuche</mat-label>
                            <input matInput placeholder="Bsp. Tische" autocomplete="off">
                            <mat-icon matSuffix>search</mat-icon>
                            <mat-hint style="cursor: default;">Suche nach Produkten</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </nav>

        <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-6 flex flex-col relative">
            <a class="product-image flex justify-center items-center overflow-hidden shadow-md hover:shadow-lg" [routerLink]="['/product/id']" routerLinkActive="router-link-active">
                <img src="https://images.unsplash.com/photo-1555982105-d25af4182e4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <p class="">Product Name</p>
                <svg class="h-6 w-6 fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                </svg>
            </div>
            <p class="pt-1 text-gray-900">9,99 EUR</p>
        </div>

        
        <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-6 flex flex-col relative">
            <a class="product-image flex justify-center items-center overflow-hidden shadow-md hover:shadow-lg" [routerLink]="['/product/id']" routerLinkActive="router-link-active">
                <img src="https://images.unsplash.com/photo-1508423134147-addf71308178?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <p class="">Product Name</p>
                <svg class="h-6 w-6 fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                </svg>
            </div>
            <p class="pt-1 text-gray-900">9,99 EUR</p>
        </div>

        <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-6 flex flex-col relative">
            <a class="product-image flex justify-center items-center overflow-hidden shadow-md hover:shadow-lg" [routerLink]="['/product/id']" routerLinkActive="router-link-active">
                <img src="https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <p class="">Product Name</p>
                <svg class="h-6 w-6 fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                </svg>
            </div>
            <p class="pt-1 text-gray-900">9,99 EUR</p>
        </div>

        <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-6 flex flex-col relative">
            <a class="product-image flex justify-center items-center overflow-hidden shadow-md hover:shadow-lg" [routerLink]="['/product/id']" routerLinkActive="router-link-active">
                <img src="https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <p class="">Product Name</p>
                <svg class="h-6 w-6 fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                </svg>
            </div>
            <p class="pt-1 text-gray-900">9,99 EUR</p>
        </div>

        <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-6 flex flex-col relative">
            <a class="product-image flex justify-center items-center overflow-hidden shadow-md hover:shadow-lg" [routerLink]="['/product/id']" routerLinkActive="router-link-active">
                <img src="https://images.unsplash.com/photo-1467949576168-6ce8e2df4e13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <p class="">Product Name</p>
                <svg class="h-6 w-6 fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                </svg>
            </div>
            <p class="pt-1 text-gray-900">9,99 EUR</p>
        </div>

        <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-6 flex flex-col relative">
            <a class="product-image flex justify-center items-center overflow-hidden shadow-md hover:shadow-lg" [routerLink]="['/product/id']" routerLinkActive="router-link-active">
                <img src="https://images.unsplash.com/photo-1544787219-7f47ccb76574?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <p class="">Product Name</p>
                <svg class="h-6 w-6 fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                </svg>
            </div>
            <p class="pt-1 text-gray-900">9,99 EUR</p>
        </div>

        <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-6 flex flex-col relative">
            <a class="product-image flex justify-center items-center overflow-hidden shadow-md hover:shadow-lg" [routerLink]="['/product/id']" routerLinkActive="router-link-active">
                <img src="https://images.unsplash.com/photo-1550837368-6594235de85c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=80">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <p class="">Product Name</p>
                <svg class="h-6 w-6 fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                </svg>
            </div>
            <p class="pt-1 text-gray-900">9,99 EUR</p>
        </div>

        <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-6 flex flex-col relative">
            <a class="product-image flex justify-center items-center overflow-hidden shadow-md hover:shadow-lg" [routerLink]="['/product/id']" routerLinkActive="router-link-active">
                <img src="https://images.unsplash.com/photo-1551431009-a802eeec77b1?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&h=400&q=80">
            </a>
            <div class="pt-3 flex items-center justify-between">
                <p class="">Product Name</p>
                <svg class="h-6 w-6 fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                </svg>
            </div>
            <p class="pt-1 text-gray-900">9,99 EUR</p>
        </div>
    </div>
</section>

<section class="content text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Raw Denim Heirloom Man Braid</h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.</p>
            <div class="flex mt-6 justify-center">
                <div class="w-16 h-1 rounded-full bg-main inline-flex"></div>
            </div>
        </div>
        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
            <div class="p-4 sm:w-1/2 lg:w-1/4 md:mb-0 mb-6 flex flex-col text-center items-center">
                <div class="w-20 h-20 inline-flex items-center justify-center rounded-full border-solid shadow-md bg-white text-main mb-5 flex-shrink-0">
                    <mat-icon class="text-4xl" style="width: auto; height: auto;">wb_incandescent</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Beleuchtung</h2>
                    <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug VHS try-hard.</p>
                    <a class="mt-6 text-main inline-flex items-center">
                        <button mat-stroked-button class="bg-white">im Shop ansehen</button>
                    </a>
                </div>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 md:mb-0 mb-6 flex flex-col text-center items-center">
                <div class="w-20 h-20 inline-flex items-center justify-center rounded-full border-solid shadow-md bg-white text-main mb-5 flex-shrink-0">
                    <mat-icon class="text-4xl" style="width: auto; height: auto;">keyboard</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Büro</h2>
                    <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug VHS try-hard.</p>
                    <a class="mt-6 text-main inline-flex items-center">
                        <button mat-stroked-button class="bg-white">im Shop ansehen</button>
                    </a>
                </div>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 md:mb-0 mb-6 flex flex-col text-center items-center">
                <div class="w-20 h-20 inline-flex items-center justify-center rounded-full border-solid shadow-md bg-white text-main mb-5 flex-shrink-0">
                    <mat-icon class="text-4xl" style="width: auto; height: auto;">flash_on</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Elektronik</h2>
                    <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug VHS try-hard.</p>
                    <a class="mt-6 text-main inline-flex items-center">
                        <button mat-stroked-button class="bg-white">im Shop ansehen</button>
                    </a>
                </div>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 md:mb-0 mb-6 flex flex-col text-center items-center">
                <div class="w-20 h-20 inline-flex items-center justify-center rounded-full border-solid shadow-md bg-white text-main mb-5 flex-shrink-0">
                    <mat-icon class="text-4xl" style="width: auto; height: auto;">checkroom</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Kleidung</h2>
                    <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug VHS try-hard.</p>
                    <a class="mt-6 text-main inline-flex items-center">
                        <button mat-stroked-button class="bg-white">im Shop ansehen</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>