.hover-grow {
    transition: all 0.3s;
    transform: scale(1);
}

.hover-grow:hover {
    transform: scale(1.5);
}

.product-image {
    width: 100%;
    position: relative;

    transition: box-shadow 200ms;

    &::after{
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    & > img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;

        transition: transform 200ms;
        position: absolute;

        &:hover {
            transform: scale(1.02);
        }
    }
}