@mixin fontface($name, $path, $weight: 400, $style: normal) {
    @font-face {
        font-family: '#{$name}';
        font-weight: $weight;
        font-style: $style;

        src: url('/assets/fonts/#{$path}.woff2') format('woff2'), url('/assets/fonts/#{$path}.woff') format('woff'), url('/assets/fonts/#{$path}.ttf') format('truetype');
    }
}

//breakpoint
@mixin bp($point) {
    @if $point == 'xl' {
        @media only screen and (min-width: 1280px) {
            @content;
        }
    }

    @else if $point == 'lg' {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }

    @else if $point == 'md' {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }

    @else if $point == 'sm' {
        @media only screen and (min-width: 640px) {
            @content;
        }
    }
}

//breakpoint max
@mixin bpm($point) {
    @if $point == 'xl' {
        @media only screen and (max-width: 1279px) {
            @content;
        }
    }

    @else if $point == 'lg' {
        @media only screen and (max-width: 1023px) {
            @content;
        }
    }

    @else if $point == 'md' {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }

    @else if $point == 'sm' {
        @media only screen and (max-width: 639px) {
            @content;
        }
    }
}