a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &, &:active, &:focus {
        outline: none;
        -moz-appearance: none;
    }

    &::-moz-focus-inner {
        border: none;
        outline: none;
        -moz-appearance: none;
    }
}

img, video, svg {
    max-width: 100%;
    max-height: 100%;
}

input, button, textarea {
    margin: 0;
    padding: 0;
    
    border: none;
    border-radius: 0;

    outline: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    
    color: inherit;

    font-size: inherit;
    font-family: inherit;

    outline: none;
    box-shadow: none;
    -moz-appearance: none;

    &::-moz-focus-inner {
        border: none;
        outline: none;
        -moz-appearance: none;
    }
}

button {
    cursor: pointer;
}

// * {
//     font-kerning: auto;
//     text-rendering: optimizeLegibility;
//     font-feature-settings: 'liga', "kern" 1;

//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }