a {
    transition: color 200ms;
}

svg {
    transition: fill 200ms
}

.star {
    fill: none;
    transition: fill 200ms
}

.filled {
    fill: currentColor !important;
}

.fadeout {
    transition: opacity 200ms;
    opacity: 0;
}