<header class="text-gray-700 body-font overflow-hidden" [ngClass]="{'scroll': scroll}">
    <div class="container mx-auto flex flex-wrap p-5 _md:justify-between md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-orange-500 rounded-full"
                viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">young.b</span>
        </a>

        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 hidden md:flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
            <a class="mr-5 hover:text-gray-900" [routerLink]="['/about']" routerLinkActive="router-link-active">Über uns</a>
            <a class="mr-5 hover:text-gray-900" [routerLink]="['/shop']" routerLinkActive="router-link-active">Shop</a>
            <a class="mr-5 hover:text-gray-900" [routerLink]="['/catalog']" routerLinkActive="router-link-active">Katalog</a>
        </nav>

        <div class="hidden md:inline-flex items-center">
            <button mat-button class="nav-button" style="padding: 0.25em;">
                <mat-icon>account_circle</mat-icon>
            </button>
            <button mat-button class="nav-button" style="padding: 0.25em; margin-left: 0.25em;">
                <mat-icon matBadge="15" matBadgeColor="primary" matBadgeSize="small">shopping_cart</mat-icon>
            </button>
        </div>

        <div class="inline-flex md:hidden items-center md:mt-0 mobile-nav-button" [ngClass]="{'active': mobileNav}">
            <button mat-button (click)="mobileNav=!mobileNav" style="padding: 16px;">
                <div class="nav-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </div>
    </div>
</header>

<main class="min-h-screen" [@routeAnimations]="o.isActivated && o.activatedRouteData">
    <router-outlet #o="outlet" ></router-outlet>
</main>

<div class="mobile-nav-container" [ngClass]="{'active': mobileNav}" *ngIf="mobile">
    <a class="mobile-nav-item" [routerLink]="['/home']" routerLinkActive="router-link-active">
        <button mat-button>
            <mat-icon>home</mat-icon>
            <span class="label">Home</span>
        </button>
    </a>

    <a class="mobile-nav-item" [routerLink]="['/about']" routerLinkActive="router-link-active">
        <button mat-button>
            <mat-icon>info</mat-icon>
            <span class="label">Über uns</span>
        </button>
    </a>

    <a class="mobile-nav-item" href="http://shops.act.at/10001085/desktop/">
        <button mat-button>
            <mat-icon>shopping_cart</mat-icon>
            <span class="label">Shop</span>
        </button>
    </a>
    
    <a class="mobile-nav-item" [routerLink]="['/catalog']" routerLinkActive="router-link-active">
        <button mat-button>
            <mat-icon>book</mat-icon>
            <span class="label">Katalog</span>
        </button>
    </a>
</div>

<footer class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap md:text-left text-center order-first">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font uppercase font-medium text-gray-900 tracking-widest text-sm mb-3">Unterricht</h2>
                <nav class="list-none mb-10">
                    <li><a class="text-gray-600 hover:text-gray-800" [routerLink]="['/goals']" routerLinkActive="router-link-active">Ziele</a></li>
                    <li><a class="text-gray-600 hover:text-gray-800" [routerLink]="['/education']" routerLinkActive="router-link-active">Pädagogik</a></li>
                    <li><a class="text-gray-600 hover:text-gray-800" [routerLink]="['/subject']" routerLinkActive="router-link-active">Unternehmensgegenstand</a></li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font uppercase font-medium text-gray-900 tracking-widest text-sm mb-3">Übungsfirma</h2>
                <nav class="list-none mb-10">
                    <li><a class="text-gray-600 hover:text-gray-800" [routerLink]="['/mission']" routerLinkActive="router-link-active">Mission</a></li>
                    <li><a class="text-gray-600 hover:text-gray-800" [routerLink]="['/organization']" routerLinkActive="router-link-active">Organisation</a></li>
                    <li><a class="text-gray-600 hover:text-gray-800" [routerLink]="['/sustainability']" routerLinkActive="router-link-active">Nachhaltigkeit</a></li>
                    <li><a class="text-gray-600 hover:text-gray-800" [routerLink]="['/jobs']" routerLinkActive="router-link-active">Stellenangebote</a></li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font uppercase font-medium text-gray-900 tracking-widest text-sm mb-3">Informationen</h2>
                <nav class="list-none mb-10">
                    <li><a class="text-gray-600 hover:text-gray-800" [routerLink]="['/legal-notice']" routerLinkActive="router-link-active">Impressum</a></li>
                    <li><a class="text-gray-600 hover:text-gray-800" [routerLink]="['/XXXX']" routerLinkActive="router-link-active">Cookies</a></li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">NEWSLETTER</h2>
                <p class="text-gray-600 text-sm mb-2 md:text-left text-center">Jetzt anmelden und immer auf den laufenden bleiben.</p>
                <div class="flex justify-center flex-col">
                    <mat-form-field class="w1 mb-2" appearance="outline">
                        <mat-label>E-Mail Adresse</mat-label>
                        <input matInput placeholder="max@mustermann.at">
                    </mat-form-field>
                    <button class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex self-center md:self-start" mat-raised-button color="primary">Anmelden</button>
                </div>
            </div>
        </div>
    </div>
    <div class="legal">
        <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
            <p class="text-sm text-gray-600 sm:ml-6 sm:mt-0 mt-4 select-none uppercase">© 2020 young.b</p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="ml-3 text-gray-600 hover:text-gray-800" href="https://www.facebook.com/Uebungsfirma.youngb" target="_blank">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-600 hover:text-gray-800" href="https://twitter.com/ecotelfs_youngb" target="_blank">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-600 hover:text-gray-800" href="https://www.instagram.com/uefayoung.b/" target="_blank">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-600 hover:text-gray-800" href="https://www.youtube.com/user/youngbtelfs" target="_blank">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="-21 -117 682.66672 682">
                        <path stroke="none" d="m626.8125 64.035156c-7.375-27.417968-28.992188-49.03125-56.40625-56.414062-50.082031-13.703125-250.414062-13.703125-250.414062-13.703125s-200.324219 0-250.40625 13.183593c-26.886719 7.375-49.03125 29.519532-56.40625 56.933594-13.179688 50.078125-13.179688 153.933594-13.179688 153.933594s0 104.378906 13.179688 153.933594c7.382812 27.414062 28.992187 49.027344 56.410156 56.410156 50.605468 13.707031 250.410156 13.707031 250.410156 13.707031s200.324219 0 250.40625-13.183593c27.417969-7.378907 49.03125-28.992188 56.414062-56.40625 13.175782-50.082032 13.175782-153.933594 13.175782-153.933594s.527344-104.382813-13.183594-154.460938zm-370.601562 249.878906v-191.890624l166.585937 95.945312zm0 0"/>
                    </svg>
                </a>
            </span>
        </div>
    </div>
</footer>